.sort-container {
    margin: 20px 0;
    font-size: 1.2em;
    text-align: left;
}

.sort-container label {
    font-weight: bold;
    margin-right: 10px;
}

.sort-container select {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border 0.3s ease;
}

.sort-container select:hover,
.sort-container select:focus {
    border-color: #dc143c;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #951a1a;
    color: #fff;
    font-size: 1.1em;
}

table tr:hover {
    background-color: #f4f4f4;
}

.dashboard-section {
    overflow-x: auto;
}

#bloodGroupFilter {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 10px;
    transition: border 0.3s ease;
}

#bloodGroupFilter:hover,
#bloodGroupFilter:focus {
    border-color: #780606;
}

#locationFilter {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 10px;
    transition: border 0.3s ease;
}

#locationFilter:hover,
#locationFilter:focus {
    border-color: #dc143c;
}