<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalisLink | Homepage</title>
    <link rel="stylesheet" href="../static/CSS/Style.css">
    <link rel="stylesheet" href="../static/CSS/user.css">
    <link rel="shortcut icon" href="../static/Images/VITALISLINK LOGO LIGHT.png" type="image/x-icon">
</head>
<body>
    <header>
        <img src="../static/Images/VITALISLINK LOGO LIGHT2.png" alt="VitalisLink Logo">
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
        <nav id="navMenu">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/donor_register">Donor Registration</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {% if username == "admin" %}
                <li><a href="/admin_dashboard">Admin Dashboard</a></li>
                {% endif %}
                <li><a href="/about">About</a></li>
                {% if username %}
                <li>
                    <button onclick="toggleDropdown()" class="dropbtn">{{ username[0] }}</button>
                    <div id="dropdownContent" class="dropdown-content">
                        <br>
                        <a href="/myprofile">Welcome, {{ username }}</a>
                        <a href="/myprofile">My Profile</a>
                        <a href="/my_bookings">My Bookings</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="slideshow-container">
            <img src="../static/Images/Blood-Donation-1.jpg" class="slideshow-image" alt="Blood Donation Image 1">
            <img src="../static/Images/Blood-Donation-2.jpg" class="slideshow-image" alt="Blood Donation Image 2">
            <img src="../static/Images/Blood-Donation-3.jpg" class="slideshow-image" alt="Blood Donation Image 3">
            <img src="../static/Images/Blood-Donation-4.png" class="slideshow-image" alt="Blood Donation Image 4">
            <a href="/donor_register" class="donate-btn" id="donateButton">Donate Now</a>
        </section>
        <div class="nav">
            <button class="prev" aria-label="Previous slide" onclick="goPrev()">&#10094;</button>
            <button class="next" aria-label="Next slide" onclick="goNext()">&#10095;</button>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 VitalisLink. All Rights Reserved.</p>
    </footer>

    <script src="../static/JS/Slider.js"></script>
    <script src="../static/JS/user.js"></script>
</body>
</html>
