<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | VitalisLink</title>
    <link rel="shortcut icon" href="../static/Images/VITALISLINK LOGO LIGHT.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/CSS/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <img src="../static/Images/VITALISLINK LOGO LIGHT2.png" alt="" style="opacity: 100%; border-radius: 5px;">
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Sign In/Sign Up</a></li>
            </ul>        
        </nav>
    </header>
    
    <main>
        <section class="login-section">
            <div class="login-form">
                <h2>Sign Up</h2>
                
                <div id="flashes">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="flash-messages">
                                    <p class="{{category}}">{{ message }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    </div>

                <form method="POST" action="/register">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <div class="input-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" name="confirm_password" required>
                    </div>
                    
                    <button type="submit">Sign Up</button>
                    <div class="more">
                        <p class="dnt">Already have an account?</p><br>
                        <button class="signin-btn" onclick="window.location.href='/login'">Sign In</button><br>
                    </div>
                    <div class="icon">
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
